.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F7F7F8;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 35px 45px;
  width: 70vw;
  background: white;
  box-shadow: 0px 2px 6px 4px rgba(136, 141, 154, 0.1);
  border-radius: 4px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.logo {
  width: 100%;
  margin-bottom: 24px;
  img {
    width: 190px;
  }
}

.tabsContainer :global {
  margin: 0 auto;

  .react-tabs {
    -webkit-tap-highlight-color: transparent;

    &__tab-list {
      margin: 0 0 10px;
      padding: 0;
      display: inline-block;
      border-bottom: 1px solid black;
      width: 100%;
    }

    &__tab {
      color: gray;
      font-size: 15px;
      display: block;
      position: relative;
      list-style: none;
      cursor: pointer;
      transition: .2s all linear;
      display: inline-block;
      margin-right: 25px;
      margin-bottom: -1px;
      padding: 6px 10px;
      border-bottom: 3px solid transparent;

      &--selected {
        color: black;
        border-bottom: 3px solid black;
      }

      &:focus {
        outline: none;

        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          background: #fff;
        }
      }
    }

    &__tab-panel {
      &--selected {
        display: block;
      }
    }
  }
}

.header {
  position: relative;
  margin-top: 10px;
  margin-bottom: 24px;

  h2 {
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 18px 0 0;
  }

  button {
    color: #434FBC;
    border: 1.4px solid #616DD7;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: .2s all linear;

    &:hover {
      color: white;
      background: #434FBC;
    }
  }

  .search {
    position: absolute;
    top: 5px;
    right: 0;
    img {
      width: 21px;
    }
  }
}

.tableHeaders {
  color: #797979;
  border-bottom: #EEEEEE 1px solid;
  text-transform: uppercase;
  font-size: 12px;

  .title1 {
    width: 28%;
    display: inline-block;
  }

  .title2 {
    width: 70%;
    display: inline-block;
  }
}

.row {
  border-bottom: #EEEEEE 1px solid;
  display: flex;

  .name {
    display: inline-block;
    align-self: center;
    font-size: 14px;
    width: 28%;

    .headshot {
      width: 38px;
      height: 38px;
      vertical-align: middle;
      margin-right: 14px;
      margin: 18px 14px 18px 0;
    }

    &:hover {
      a { color: #434FBC; }
    }
  }

  .details {
    color: #6C6C6C;
    font-size: 12px;
    display: inline-block;
    align-self: center;
    width: 70%;
  }
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
